<p *ngIf="estados?.length == 0">No se ha encontrado ningún estado</p>
<div lgm-states-list *ngIf="estados?.length > 0">        
    <!-- <app-counter [counter]="{length:estados.length, message:'Estados encontrados'}"></app-counter> -->
    <app-counter 
        [counter]="{counter:estados.length, message:'Estados encontrados'}"
        [escondeBotones] = "{fechas: true, volver: true}">
    </app-counter>    
    <ul class="listas">
    <li *ngFor="let estado of estados;"
        [class.selected]="estado === selectedEstado"
        (click)="onEstadoSeleccionado(estado)">        
        <span lgm-cuadrado>■</span>{{ estado.name }}
    </li>
    </ul>        
</div>
