<div lgm-content>    
  <div lgm-page>
      <div lgm-header>
          <h1>{{titulo}}</h1>          
          <div>
            <h4>Versión v.{{version}}</h4>
            <span></span>
            <button #boton (click)="onClick()">Buscar actualizaciones</button>            
          </div>          
      </div>      
  </div>   
</div>
<div lgm-counter>
    <div *ngIf="rutas$ | async as ruta">
      <h1>{{ruta?.mensaje}} </h1>
      <span></span>
      <button *ngIf="ruta?.botonFechas" #boton1 (click)="onClickFD()">Fecha más reciente</button>
      <button *ngIf="ruta?.botonFechas" #boton2 (click)="onClickFA()">Fecha más antigua</button>
      <button *ngIf="ruta?.botonVolver" lgm-button3 #boton3 (click)="onClickV()">Volver</button>        
    </div>
</div>